<html>
  <body>
    <h1>Accueil</h1>
    <script type="module">
      const { pb } = await import('/lib/pb.js');

      if (pb.authStore.isValid) {
        document.body.innerHTML += `
          <p>Connecté : ${pb.authStore.model.email}</p>
          <a href="/students">Voir les étudiants</a><br>
          <button id="logout">Déconnexion</button>
        `;
        document.getElementById("logout").onclick = () => {
          pb.authStore.clear();
          location.reload();
        };
      } else {
        document.body.innerHTML += `
          <a href="/login">Connexion</a> |
          <a href="/register">Inscription</a>
        `;
      }
    </script>
  </body>
</html>
