
<html>
  <body>
    <h1>Inscription</h1>
    <form id="registerForm">
      <input name="email" type="email" placeholder="Email" required /><br>
      <input name="password" type="password" placeholder="Mot de passe" required /><br>
      <input name="passwordConfirm" type="password" placeholder="Confirmez le mot de passe" required /><br>
      <button>S'inscrire</button>
    </form>
    <p id="msg"></p>
    <p>Déjà un compte ? <a href="/login">Se connecter</a></p>

    <script type="module">
      const { pb } = await import('/lib/pb.js');

      const form = document.getElementById("registerForm");
      form.onsubmit = async (e) => {
        e.preventDefault();
        const email = form.email.value;
        const password = form.password.value;
        const passwordConfirm = form.passwordConfirm.value;
        try {
 // création utilisateur
 await pb.collection("users").create({
 email,
 password,
 passwordConfirm
 });
 // envoi email de vérification
 await
pb.collection("users").requestVerification(email);
 document.getElementById("msg").textContent =
"Inscription réussie, vérifiez vos emails";
 } catch (err) {
          document.getElementById("msg").textContent = "Échec de l'inscription";
          console.error(err);
        }
      };
    </script>
  </body>
</html>
